body{
  background-color: #dddddd;
  color: black;
}
h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 80px;
  text-align: center;
  color: #f2f2f2;
}
h2 {
  font-family: 'Helvetica', sans-serif;
  color: #35465c;
  padding-top: 10px;
}
h3 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  color: #f2f2f2;
  margin-top: -40px;
}
h4{
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  color: cadetBlue;
}
ul {
  list-style-type: circle;
}

.container {
  background-color: cadetBlue;
}

.nav-button{
  display: inline-block;
}
